@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../fonts/ievi2zhzi2ecn5jzbjeets9weq8-32megcqyag.ttf) format('truetype');
}
