<!DOCTYPE html>
<html>

<head>
    <title>sound recoder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
	<form action="SoundCtrl/SoundSynthesis" method="post">
 	  设置性别(0为女，1为男):<input type="number" name="sex">
  	  输入文字:<input type="text" name="text">
    <input type="submit" value="合成">
    </form>
</body>

</html>